<%= form_with(url: students_path, method: :get, local: true, class: "form-inline") do |form| %>
  <div class="form-group mr-3">
    <%= form.label :major, "Select Major", class: "form-label" %>
    <%= form.select :major, options_for_select(Student::VALID_MAJORS), { prompt: "Any Major" }, name: 'search[major]', class: "form-control" %>
  </div>

  <div class="form-group mr-3">
    <%= form.label :date_condition, "Search For:", class: "form-label" %>
    <%= form.select :date_condition, options_for_select([['Before', 'before'], ['After', 'after']]), { prompt: 'Select Condition' }, name: 'search[date_condition]', class: "form-control" %>
  </div>

  <div class="form-group mr-3">
    <%= form.label :expected_graduation_date, "Select Expected Graduation Date", class: "form-label" %>
    <%= form.date_field :expected_graduation_date, name: 'search[expected_graduation_date]', class: "form-control" %>
  </div>

  <div class="form-group mr-3">
    <%= form.submit "Search", class: "btn btn-primary" %>
  </div>

  <div class="form-group">
    <%= link_to "Search All", students_path(search: { major: '' }), class: "btn btn-secondary" %>
  </div>
<% end %>
